<p *ngIf="userData as user">{{user.displayName}}</p>

<mat-list>

  <mat-list-item>Hiragana</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/quiz/hiragana/1">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/hiragana/2">Level 2</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/hiragana/3">Level 3</button>
    </div>
  <br />
  </section>
  <mat-divider></mat-divider>

  <mat-list-item>Katakana</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/quiz/katakana/1">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/katakana/2">Level 2</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/katakana/3">Level 3</button>
    </div>
  <br />
  </section>
  <mat-divider></mat-divider>

  <mat-list-item>Kanji</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/1">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/2">Level 2</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/3">Level 3</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/4">Level 4</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/5">Level 5</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/6">Level 6</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/7">Level 7</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/kanji/8">Level 8</button>
    </div>
    <br />
  </section>
  <mat-divider></mat-divider>
  <mat-list-item>Słownictwo</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/katakana">Rzeczowniki</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Czasowniki</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przymiotniki "-i"</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przymiotniki "-na"</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przysłówki</button>
    </div>
    <br />
  </section>
  <mat-divider></mat-divider>

</mat-list>
