<mat-list>

  <mat-list-item>Hiragana</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/quiz/hiragana/1">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/hiragana/2">Level 2</button>
    </div>
  <br />
  </section>
  <mat-divider></mat-divider>

  <mat-list-item>Katakana</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/quiz/katakana/1">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/quiz/katakana/2">Level 2</button>
    </div>
  <br />
  </section>
  <mat-divider></mat-divider>

  <mat-list-item>Kanji</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/katakana">Level 1</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Level 2</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Level 3</button>
    </div>
    <br />
  </section>
  <mat-divider></mat-divider>
  <mat-list-item>Słownictwo</mat-list-item>
  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="/katakana">Rzeczowniki</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Czasowniki</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przymiotniki "-i"</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przymiotniki "-na"</button>
      <button mat-stroked-button color="primary" routerLink="/katakana">Przysłówki</button>
    </div>
    <br />
  </section>
  <mat-divider></mat-divider>

</mat-list>
