<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
   <strong>Certyfikacja JLPT</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card>
    <div>
      <span>
JLPT — co to jest?
Egzamin JLPT, czyli Japanese-Language Proficiency Test, po japońsku Nihongo Nōryoku Shiken, to najważniejszy egzamin certyfikacyjny dla nienatywnych użytkowników języka japońskiego. Pomyślne zdanie egzaminu pozwala uzyskać certyfikat biegłości języka japońskiego (Certificate of Japanese-Language Proficiency). Po raz pierwszy został on przeprowadzony w 1984 roku. Od tamtej pory objął swoim zasięgiem cały świat. W grudniu 2019 roku do egzaminu przystąpiło ponad 700 tysięcy osób w 86 krajach świata.

Organizatorami egzaminu są Japan Educational Exchanges and Services (JEES) w Japonii oraz The Japan Foundation poza Japonią. W Polsce organizacją testu w imieniu The Japan Foundation zajmuje się Polsko-Japońska Akademia Technik Komputerowych w Warszawie.

      </span>
    </div>
  </mat-card>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Czy warto przystąpić do egzaminu JLPT?</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>

    <mat-card>
      <div>
      <span>
Egzamin JLPT składa się z zadań testowych i nie zawiera zadań wymagających samodzielnego pisania ani mówienia. Czy taki test sprawdza faktyczną znajomość języka? Czy warto do niego przystępować?

Niezależnie od swoich oczywistych wad, egzamin jest wysoko ceniony, szczególnie w Japonii. Nierzadko posiadanie certyfikatu jest wymagane w ofertach stypendialnych oraz przez pracodawców. Oczywiście nie zawsze jest on obowiązkowy, ale zawsze będzie silnym atutem kandydata. Często podkreślaną wadą jest brak części ustnej egzaminu.

Wysoki poziom standaryzacji egzaminu może być także jego zaletą. Dzięki punktowej ocenie poszczególnych umiejętności: czytania, słuchania, znajomości gramatyki i znaków kanji, egzamin może być dobrym narzędziem do oceny swoich kompetencji i planowania dalszej nauki. Egzamin może też posłużyć jako cel, który zmotywuje nas do nauki. Łatwiej jest znaleźć motywację, gdy wiemy konkretnie na kiedy i jaki zakres materiału chcemy się nauczyć. Stosunkowo niska, w porównaniu do innych certyfikatów, cena egzaminu zachęca, by zainteresować się certyfikatem, nawet jeśli nie wymaga tego od nas pracodawca.
      </span>
      </div>
    </mat-card>
</mat-expansion-panel>




<mat-list role="list">
  <div mat-subheader>Tablice do ćwiczeń pisma</div>
  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>cloud_download</mat-icon>
      </span>
      <a href="assets/Table_hiragana.svg" download> Hiragana
      </a>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>cloud_download</mat-icon>
      </span>
      <a href="assets/Table_katakana.svg" download> Katakana
      </a>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>cloud_download</mat-icon>
      </span>
      <a href="assets/N5%20Worksheet.pdf" download> Kanji N5
      </a>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>cloud_download</mat-icon>
      </span>
      <a href="assets/blank_writing_practice_sheet.pdf" download> Puste arkusze
      </a>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<br>
<mat-list role="list">
  <div mat-subheader>Informacje dotyczące certyfikacji</div>

  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>language</mat-icon>
      </span>
      <a href="https://www.jlpt.jp/e/index.html"> Oficjalna strona dotycząca certyfikacji
      </a>
    </div>
  </mat-list-item>

  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>school</mat-icon>
      </span>
      <a href="https://ssl.pjwstk.edu.pl/jlpt/index.php/page/index/1"> Oficjalna strona polskiej jednostki certyfikującej
      </a>
    </div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <div class="example-button-container">
      <span>
        <mat-icon>insert_drive_file</mat-icon>
      </span>
      <a href="https://www.jlpt.jp/e/samples/n5/index.html"> Przykładowe testy
      </a>
    </div>
  </mat-list-item>
</mat-list>

