<div>
  <button mat-stroked-button color="primary" (click)="learnSession(sortedIdArray[sortedIdArrayIndex])">Rozpocznij naukę</button>
</div>
<mat-grid-list cols="2" rowHeight="580px" gutterSize="4px">
  <mat-grid-tile>
    <mat-card *ngFor="let kanjiLearn of kanjiLearnArray">
      <mat-card-content *ngIf="!learningEnd">
        <flip-card>
          <flip-card-front>
            <p class="kanji-front">{{ kanjiLearn.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p class="kanji-back-meaning" *ngFor="let meaning of kanjiLearn.meaning">
              {{meaning}}
            </p>
            <br>
            <p class="kanji-back">Kunyomi: {{kanjiLearn.kunyomi!.join(", ")}}</p>
            <p class="kanji-back">Onyomi: {{kanjiLearn.onyomi!.join(", ")}}</p>
          </flip-card-back>
        </flip-card>
        <br/>
        <flip-card [toggleProperty]="true">
          <flip-card-front>
            <p class="kanji-front">{{ kanjiLearn.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p class="kanji-back-meaning" *ngFor="let meaning of kanjiLearn.meaning">
              {{meaning}}
            </p>
            <br>
            <p class="kanji-back">Kunyomi: {{kanjiLearn.kunyomi!.join(", ")}}</p>
            <p class="kanji-back">Onyomi: {{kanjiLearn.onyomi!.join(", ")}}</p>
          </flip-card-back>
        </flip-card>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" *ngIf="sortedIdArrayIndex < sortedIdArray.length; else lastSign" (click)="learnSession(sortedIdArray[sortedIdArrayIndex])" >Następny znak nauka</button>
          <ng-template #lastSign>
            <button mat-raised-button color="primary" type="submit" (click)="learnSession(randomizedIdArray[randomizedIdArrayIndex])" >Start Quiz</button>
          </ng-template>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let kanji of kanjiQuizArray">
      <mat-card-content>
        <flip-card [toggleProperty] = answered>
          <flip-card-front>
            <p class="kanji-front">{{ kanji.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p class="kanji-back-meaning" *ngFor="let meaning of kanji.meaning">
              {{meaning}}
            </p>
            <br>
            <p class="kanji-back">Kunyomi: {{kanji.kunyomi!.join(", ")}}</p>
            <p class="kanji-back">Onyomi: {{kanji.onyomi!.join(", ")}}</p>
          </flip-card-back>
        </flip-card>
        <mat-card-actions>
          <input matInput type="text" id="single" #guess>
          <button mat-raised-button color="primary" type="submit" (click)="answering(guess.value, kanji.meaning!)" [disabled]="answered">Sprawdź</button>
          <button mat-raised-button color="primary" type="submit" *ngIf="!quizEnd" (click)="learnSession(randomizedIdArray[randomizedIdArrayIndex])" [disabled]="!answered">Następny znak Quiz</button>
          <br/>
          <mat-error>{{result}}</mat-error>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="quizEnd">
  <mat-card>
    <p>Ilość udzielonych odpowiedzi: {{numberAnswered}} </p>
    <p>Ilość poprawnych odpowiedzi: {{numberAnsweredCorrect}}</p>
    <p>Wynik wynosi: {{score(numberAnsweredCorrect, numberAnswered) | percent:'1.2-2'}}</p>
  </mat-card>
</div>
