
<div *ngIf="currentUser as user">

  <mat-card class="user-card">
    <mat-card-header>
      <img class="avatar" mat-card-avatar [src]="user.photoURL"  alt="URL obrazka" />
      <mat-card-title><h1>Witaj: <strong>{{user.displayName}}</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Imie: <strong>{{user.firstName}}</strong></p>
      <p>Nazwisko: <strong>{{user.lastName}}</strong></p>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Numer telefonu: <strong>{{user.phoneNumber}}</strong></p>

      <div *ngIf="!authGuard.isVerified">
        <p> <strong>Twoje konto jest jeszcze niezweryfikowane</strong> </p>
        <p> <strong>Masz ograniczony dostęp do aplikacji</strong> </p>
        <p> <button mat-raised-button color="warn" (click)="authService.SendVerificationMail()">
          Wyślij email verfikacyjny ponownie</button> </p>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="authService.SignOut()">Wyloguj</button>
      <button mat-stroked-button color="primary" style="float: right" (click)="openDialog()">Edytuj Profil</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="material-icons">stars</div>
      <mat-card-title><h1><strong>Twoje odznaki</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Odznaki</mat-panel-title>
        </mat-expansion-panel-header>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressHiragana.quizLevel < 1}"
             src="/assets/achievements_icons/daruma-9042.svg" alt="Hiragana Poziom 1" title="Hiragana Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressHiragana.quizLevel < 2}"
             src="/assets/achievements_icons/carp-9031.svg" alt="Hiragana Poziom 2" title="Hiragana Poziom 2">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressHiragana.quizLevel < 3}"
             src="/assets/achievements_icons/torii-gate-9030.svg" alt="Hiragana Poziom 3" title="Hiragana Poziom 3">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKatakana.quizLevel < 1}"
             src="/assets/achievements_icons/sushi-9037.svg" alt="Katakana Poziom 1" title="Katakana Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKatakana.quizLevel < 2}"
             src="/assets/achievements_icons/sensu-9029.svg" alt="Katakana Poziom 2" title="Katakana Poziom 2">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKatakana.quizLevel < 3}"
             src="/assets/achievements_icons/katana-9045.svg" alt="Katakana Poziom 3" title="Katakana Poziom 3">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 1}"
             src="/assets/achievements_icons/drum-9040.svg" alt="Rzeczowniki Poziom 1" title="Rzeczowniki Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 2}"
             src="/assets/achievements_icons/fuji-mountain-9024.svg" alt="Rzeczowniki Poziom 2" title="Rzeczowniki Poziom 2">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 3}"
             src="/assets/achievements_icons/gong-9035.svg" alt="Rzeczowniki Poziom 3" title="Rzeczowniki Poziom 3">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 4}"
             src="/assets/achievements_icons/pagoda-9026.svg" alt="Rzeczowniki Poziom 4" title="Rzeczowniki Poziom 4">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 5}"
             src="/assets/achievements_icons/japanese-woman-9049.svg" alt="Rzeczowniki Poziom 5" title="Rzeczowniki Poziom 5">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 6}"
             src="/assets/achievements_icons/koto-9038.svg" alt="Rzeczowniki Poziom 6" title="Rzeczowniki Poziom 6">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 7}"
             src="/assets/achievements_icons/sake-9034.svg" alt="Rzeczowniki Poziom 7" title="Rzeczowniki Poziom 7">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 8}"
             src="/assets/achievements_icons/japanese-man-9050.svg" alt="Rzeczowniki Poziom 8" title="Rzeczowniki Poziom 8">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 9}"
             src="/assets/achievements_icons/japanese-flag-9023.svg" alt="Rzeczowniki Poziom 9" title="Rzeczowniki Poziom 9">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNoun.quizLevel < 10}"
             src="/assets/achievements_icons/matcha-9033.svg" alt="Rzeczowniki Poziom 10" title="Rzeczowniki Poziom 10">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressVerb.quizLevel < 1}"
             src="/assets/achievements_icons/origami-9036.svg" alt="Czasowniki Poziom 1" title="Czasowniki Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressVerb.quizLevel < 2}"
             src="/assets/achievements_icons/kimono-9047.svg" alt="Czasowniki Poziom 2" title="Czasowniki Poziom 2">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressVerb.quizLevel < 3}"
             src="/assets/achievements_icons/maneki-neko-9048.svg" alt="Czasowniki Poziom 3" title="Czasowniki Poziom 3">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressIAdjective.quizLevel < 1}"
             src="/assets/achievements_icons/zen-stones-9052.svg" alt="Przymiotniki -i Poziom 1" title="Przymiotniki -i Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressIAdjective.quizLevel < 2}"
             src="/assets/achievements_icons/sakura-flower-9025.svg" alt="Przymiotniki -i Poziom 2" title="Przymiotniki -i Poziom 2">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressNaAdjective.quizLevel < 1}"
             src="/assets/achievements_icons/sakura-tree-9053.svg" alt="Przymiotniki -na Poziom 1" title="Przymiotniki -na Poziom 1">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressAdverb.quizLevel < 1}"
             src="/assets/achievements_icons/lantern-9051.svg" alt="Przysłówki Poziom 1" title="Przysłówki Poziom 1">
        <br>
        <mat-divider></mat-divider>
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 1}"
             src="/assets/achievements_icons/biwa-9039.svg" alt="Kanji Poziom 1" title="Kanji Poziom 1">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 2}"
             src="/assets/achievements_icons/bonsai-9032.svg" alt="Kanji Poziom 2" title="Kanji Poziom 2">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 3}"
             src="/assets/achievements_icons/dango-9043.svg" alt="Kanji Poziom 3" title="Kanji Poziom 3">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 4}"
             src="/assets/achievements_icons/japan-map-9027.svg" alt="Kanji Poziom 4" title="Kanji Poziom 4">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 5}"
             src="/assets/achievements_icons/hannya-9041.svg" alt="Kanji Poziom 5" title="Kanji Poziom 5">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 6}"
             src="/assets/achievements_icons/kasa-hat-9046.svg" alt="Kanji Poziom 6" title="Kanji Poziom 6">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 7}"
             src="/assets/achievements_icons/katana-9044.svg" alt="Kanji Poziom 7" title="Kanji Poziom 7">
        <img [ngClass]="{'mat-badge-disabled': currentUser.progressKanji.quizLevel < 8}"
             src="/assets/achievements_icons/geta-9028.svg" alt="Kanji Poziom 8" title="Kanji Poziom 8">
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="material-icons">monitoring</div>
      <mat-card-title><h1><strong>Statystyki</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Hiragana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressHiragana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressHiragana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of hiraganaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Katakana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKatakana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKatakana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of katakanaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Rzeczowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNoun.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNoun.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Czytanie - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of nounProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + " - " + property[4] + "/" + property[5]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Czasowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressVerb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressVerb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Czytanie - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of verbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + " - " + property[4] + "/" + property[5]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-i"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressIAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressIAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Czytanie - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of iAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + " - " + property[4] + "/" + property[5]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-na"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNaAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNaAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Czytanie - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of naAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + " - " + property[4] + "/" + property[5]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przysłówki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressAdverb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressAdverb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Czytanie - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of adverbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + " - " + property[4] + "/" + property[5]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Kanji</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKanji.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKanji.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of kanjiProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

</div>

<!--Used to upload json assets to Firebase-->
<div *ngIf="isAdmin">
  <mat-card class="user-card">
    <mat-card-title> <h2>Funkcjonalności Administratorskie </h2> </mat-card-title>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadHiragana()">Załaduj Hiragana do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadKatakana()">Załaduj Katakana do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadNouns()">Załaduj Rzeczowniki do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadVerbs()">Załaduj Czasowniki do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadIAdjectives()">Załaduj Przymiotniki "-i" do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadNaAdjectives()">Załaduj Przymiotniki "-na" do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadAdverbs()">Załaduj Przysłówki do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadKanji()">Załaduj Kanji do Firestore</button>
    <br/>
    <br/>
    <button mat-stroked-button color="primary" (click)="uploadFunFact()">Załaduj ciekawostki do Firestore</button>
    <br/>
  </mat-card>
</div>
