
<div *ngIf="currentUser as user">

  <mat-card class="user-card">
    <mat-card-header>
      <img mat-card-avatar [src]="user.photoURL"  alt="image URL" />
      <mat-card-title><h1>Witaj: <strong>{{user.displayName}}</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Imie: <strong>{{user.firstName}}</strong></p>
      <p>Nazwisko: <strong>{{user.lastName}}</strong></p>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Numer telefonu: <strong>{{user.phoneNumber}}</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="authService.SignOut()">Wyloguj</button>
      <button mat-stroked-button color="primary" style="float: right" (click)="openDialog()">Edytuj Profil</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="achievements">
    <img src="/assets/achievements_icons/daruma-9042.svg" alt="Hiragana lvl1" title="Hiragana LVL.1">
    <img src="/assets/achievements_icons/carp-9031.svg" alt="Hiragana lvl2" title="Hiragana LVL.2">
    <img src="/assets/achievements_icons/torii-gate-9030.svg" alt="Hiragana lvl3" title="Hiragana LVL.3">
    <img class="mat-badge-disabled" src="/assets/achievements_icons/sushi-9037.svg" alt="Katakana lvl1" title="Katakana LVL.1">
    <img src="/assets/achievements_icons/sensu-9029.svg" alt="Katakana lvl2" title="Katakana LVL.2">
    <img src="/assets/achievements_icons/biwa-9039.svg" alt="Kanji lvl1" title="Kanji LVL.1">
    <img src="/assets/achievements_icons/bonsai-9032.svg" alt="Kanji lvl2" title="Kanji LVL.2">
    <img src="/assets/achievements_icons/dango-9043.svg" alt="Kanji lvl3" title="Kanji LVL.3">
    <img src="/assets/achievements_icons/japan-map-9027.svg" alt="Kanji lvl4" title="Kanji LVL.4">
    <img src="/assets/achievements_icons/hannya-9041.svg" alt="Kanji lvl5" title="Kanji LVL.5">
    <img src="/assets/achievements_icons/kasa-hat-9046.svg" alt="Kanji lvl6" title="Kanji LVL.6">
    <img src="/assets/achievements_icons/katana-9044.svg" alt="Kanji lvl7" title="Kanji LVL.7">
    <img src="/assets/achievements_icons/geta-9028.svg" alt="Kanji lvl8" title="Kanji LVL.8">
    <img src="/assets/achievements_icons/origami-9036.svg" alt="Czasowniki lvl1" title="Czasowniki LVL.1">
    <img src="/assets/achievements_icons/kimono-9047.svg" alt="Czasowniki lvl2" title="Czasowniki LVL.2">
    <img src="/assets/achievements_icons/maneki-neko-9048.svg" alt="Czasowniki lvl3" title="Czasowniki LVL.3">
    <img src="/assets/achievements_icons/lantern-9051.svg" alt="Przysłówki" title="Przysłówki">
    <img src="/assets/achievements_icons/sakura-tree-9053.svg" alt="Przymiotniki -na lvl1" title="Przymiotniki -na LVL.1">
    <img src="/assets/achievements_icons/katana-9045.svg" alt="Przymiotniki -na lvl2" title="Przymiotniki -na LVL.2">
    <img src="/assets/achievements_icons/zen-stones-9052.svg" alt="Przymiotniki -i lvl1" title="Przymiotniki -i LVL.1">
    <img src="/assets/achievements_icons/sakura-flower-9025.svg" alt="Przymiotniki -i lvl2" title="Przymiotniki -i LVL.2">
    <img src="/assets/achievements_icons/drum-9040.svg" alt="Rzeczowniki lvl1" title="Rzeczowniki LVL.1">
    <img src="/assets/achievements_icons/fuji-mountain-9024.svg" alt="Rzeczowniki lvl2" title="Rzeczowniki LVL.2">
    <img src="/assets/achievements_icons/gong-9035.svg" alt="Rzeczowniki lvl3" title="Rzeczowniki LVL.3">
    <img src="/assets/achievements_icons/pagoda-9026.svg" alt="Rzeczowniki lvl4" title="Rzeczowniki LVL.4">
    <img src="/assets/achievements_icons/japanese-woman-9049.svg" alt="Rzeczowniki lvl5" title="Rzeczowniki LVL.5">
    <img src="/assets/achievements_icons/koto-9038.svg" alt="Rzeczowniki lvl6" title="Rzeczowniki LVL.6">
    <img src="/assets/achievements_icons/sake-9034.svg" alt="Rzeczowniki lvl7" title="Rzeczowniki LVL.7">
    <img src="/assets/achievements_icons/japanese-man-9050.svg" alt="Rzeczowniki lvl8" title="Rzeczowniki LVL.8">
    <img src="/assets/achievements_icons/japanese-flag-9023.svg" alt="Rzeczowniki lvl9" title="Rzeczowniki LVL.9">
    <img src="/assets/achievements_icons/matcha-9033.svg" alt="Rzeczowniki lvl10" title="Rzeczowniki LVL.10">

  </mat-card>

  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="material-icons">monitoring</div>
      <mat-card-title><h1><strong>Statystyki</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Hiragana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressHiragana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressHiragana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of hiraganaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Katakana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKatakana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKatakana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of katakanaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Rzeczowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNoun.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNoun.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of nounProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Czasowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressVerb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressVerb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of verbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-i"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressIAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressIAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of iAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-na"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNaAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNaAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of naAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przysłówki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressAdverb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressAdverb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of adverbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Kanji</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKanji.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKanji.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of kanjiProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

</div>

<!--&lt;!&ndash; Used to upload json assets to Firebase &ndash;&gt;-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadHiragana()">Załaduj Hiragana do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadKatakana()">Załaduj Katakana do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadNouns()">Załaduj Rzeczowniki do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadVerbs()">Załaduj Czasowniki do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadIAdjectives()">Załaduj Przymiotniki "-i" do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadNaAdjectives()">Załaduj Przymiotniki "-na" do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadAdverbs()">Załaduj Przysłówki do Firestore</button>-->
<!--<br/>-->
<!--<br/>-->
<!--<button mat-stroked-button color="primary" (click)="uploadKanji()">Załaduj Kanji do Firestore</button>-->
<!--<br/>-->
