mat-grid-tile{
  height: fit-content;
  align-content: flex-start;

}

mat-grid-list {
  margin-top: 4px;
}

p.kanji-front {
  font-size: 120px;
}

p.kanji-back-meaning {
  font-size: 20px;
  font-weight: bold;
}

p.kanji-back {
  font-size: 15px;
  font-style: italic;
}
