<div>
  <button mat-stroked-button color="primary" (click)="testSession(idArray[0])">Rozpocznij quiz</button>
</div>

<mat-grid-list cols="1" rowHeight="480px" gutterSize="4px">
  <mat-grid-tile *ngFor="let kanji of kanjiArray">
    <mat-card >
      <mat-card-content>
        <flip-card [toggleProperty] = answered>
          <flip-card-front>
            <p class="kanji-front">{{kanji.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p class="kanji-back-meaning" *ngFor="let meaning of kanji.meaning">
              {{meaning}}
            </p>
            <br>
            <p class="kanji-back">Kunyomi: {{kanji.kunyomi!.join(", ")}}</p>
            <p class="kanji-back">Onyomi: {{kanji.onyomi!.join(", ")}}</p>
          </flip-card-back>
        </flip-card>
        <br/>
        <mat-error>{{result}}</mat-error>
        <button style="float: right" mat-raised-button color="primary" type="submit" *ngIf="!quizEnd" (click)="testSession(idArray[numberAnswered])" [disabled]="!answered">Następny znak</button>
        <br/>
        <br/>
        <mat-card-actions *ngIf="checkAnswerType('input')">
          <input matInput type="text" id="single" #guess>
          <button mat-raised-button color="primary" type="submit" (click)="answering(guess.value, kanji.meaning!, kanji.sign!, kanji.id!)" [disabled]="answered">Sprawdź</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div class="answers-container" *ngIf="checkAnswerType('select')">
  <mat-grid-list cols="3" rowHeight="90px" gutterSize="6px" *ngIf="!quizEnd">
    <mat-grid-tile *ngFor="let answer of nineAnswers">
      <div class="example-ripple-container mat-elevation-z4"
           *ngFor="let kanji of kanjiArray"
           matRipple
           [hidden]="answered"
           [matRippleCentered]="centered"
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"
           [matRippleRadius]="radius"
           [matRippleColor]="color"
           (click)="answering(answer.meaning![0], kanji.meaning!, kanji.sign!, kanji.id!)"
      >{{ answer.meaning!.join(", ") }}</div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="quizEnd">
<!--  <h1 mat-dialog-title>Koniec Quiz'u</h1>-->
<!--  <div mat-dialog-content>-->
<!--    <p>Ilość udzielonych odpowiedzi: {{numberAnswered}} </p>-->
<!--    <p>Ilość poprawnych odpowiedzi: {{numberAnsweredCorrect}}</p>-->
<!--    <p>Wynik wynosi: {{score(numberAnsweredCorrect, numberAnswered) | percent:'1.2-2'}}</p>-->
<!--  </div>-->
<!--  <div mat-dialog-actions>-->
<!--    <button mat-button (click)="dialog.closeAll()" >Zamknij</button>-->
<!--  </div>-->


  <mat-card>
    <p>Ilość udzielonych odpowiedzi: {{numberAnswered}} </p>
    <p>Ilość poprawnych odpowiedzi: {{numberAnsweredCorrect}}</p>
    <p>Wynik wynosi: {{score(numberAnsweredCorrect, numberAnswered) | percent:'1.2-2'}}</p>
  </mat-card>
</div>
