<p *ngIf="userData as user">{{user.displayName}}</p>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hiragana
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="hiraganaForm" (ngSubmit)="onSubmit('hiragana')">
      <div class="checkbox-row">
        <label formArrayName="signs" *ngFor="let sign of hiraganaSignsFormArray.controls; let i = index">
          <mat-checkbox [disabled]="checkDisable(kanaSingsData[i].id, kanaSingsData[i].level, 'hiragana')" [formControlName]="i">
            {{kanaSingsData[i].name}}
          </mat-checkbox>
        </label>
        <br>
        <button mat-stroked-button color="primary" type="submit" >Rozpocznij naukę</button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Katakana
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="katakanaForm" (ngSubmit)="onSubmit('katakana')">
      <div class="checkbox-row">
        <label formArrayName="signs" *ngFor="let sign of katakanaSignsFormArray.controls; let i = index">
          <mat-checkbox [disabled]="checkDisable(kanaSingsData[i].id, kanaSingsData[i].level, 'katakana')" [formControlName]="i">
            {{kanaSingsData[i].name}}
          </mat-checkbox>
        </label>
        <br>
        <button mat-stroked-button color="primary" type="submit" >Rozpocznij naukę</button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kanji
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="kanjiForm" (ngSubmit)="onSubmit('kanji')">
      <div class="checkbox-row">
        <label formArrayName="signs" *ngFor="let sign of kanjiSignsFormArray.controls; let i = index">
          <mat-checkbox [disabled]="checkDisable(kanjiSingsData[i].id, kanjiSingsData[i].level, 'kanji')" [formControlName]="i">
            {{kanjiSingsData[i].name}}
          </mat-checkbox>
        </label>
        <br>
        <button mat-stroked-button color="primary" type="submit" >Rozpocznij naukę</button>
      </div>
    </form>
  </mat-expansion-panel>

</mat-accordion>
