mat-grid-tile{
  height: fit-content;
  align-content: flex-start;
}

mat-grid-list {
  margin-top: 4px;
}

.answers-container {
  width: 50%;
  margin: auto;
  min-width: 540px;
  padding: 10px;
}

.answers-button-kana {
  font-size: 24px;
  width: 200px;
  height: 105px;
  background-color: #128bea;
  color: #fff;
}
