<div>
  <button mat-stroked-button color="primary" (click)="testSession(idArray[0])">Rozpocznij quiz</button>
</div>

<mat-grid-list cols="1" rowHeight="480px" gutterSize="4px">
  <mat-grid-tile *ngFor="let hiragana of hiraganaArray">
    <mat-card class="user-card">
      <mat-card-content>
        <flip-card [toggleProperty] = answered>
          <flip-card-front>
            <p>{{ hiragana.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p>{{ hiragana.reading}}</p>
          </flip-card-back>
        </flip-card>
        <br/>
        <mat-error>{{result}}</mat-error>
        <button style="float: right" mat-raised-button color="primary" type="submit" *ngIf="!quizEnd" (click)="testSession(idArray[numberAnswered])" [disabled]="!answered">Następny znak</button>
        <br/>
        <br/>
        <mat-card-actions *ngIf="checkAnswerType('input')">
          <input matInput type="text" id="single" #guess>
          <button mat-raised-button color="primary" type="submit" (click)="answering(guess.value, hiragana.reading!, hiragana.sign!, hiragana.id!)" [disabled]="answered">Sprawdź</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div class="answers-container" *ngIf="checkAnswerType('select')">
  <mat-grid-list cols="3" rowHeight="105px" gutterSize="6px" *ngIf="!quizEnd">
    <mat-grid-tile *ngFor="let answer of nineAnswers">
      <button mat-raised-button class="answers-button-kana"
              *ngFor="let hiragana of hiraganaArray"
              [disabled]="answered"
              (click)="answering(answer.reading!, hiragana.reading!, hiragana.sign!, hiragana.id!)">
        {{ answer.reading }}
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="quizEnd">
  <mat-card>
  <p>Ilość udzielonych odpowiedzi: {{numberAnswered}} </p>
  <p>Ilość poprawnych odpowiedzi: {{numberAnsweredCorrect}}</p>
<p>Wynik wynosi: {{score(numberAnsweredCorrect, numberAnswered) | percent:'1.2-2'}}</p>
  </mat-card>
</div>
