<div *ngIf="currentKana" class="edit-form">
  <h4>Kana</h4>
  <form>
    <div class="form-group">
      <label for="sign">Reading</label>
      <input
        type="text"
        class="form-control"
        id="sign"
        [(ngModel)]="currentKana.reading"
        name="reading"
      />
    </div>
    <div class="form-group">
      <label for="description">Sign</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentKana.sign"
        name="description"
      />
    </div>
  </form>

  <button class="badge badge-danger mr-2" (click)="deleteKana()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateKana()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentKana">
  <br />
  <p>Cannot access this Kana...</p>
</div>
