<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Resetowanie Hasła">

    <div class="displayTable">
      <div class="displayTableCell">
        <p class="text-center">Podaj swój adres email.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="pat@google.com" #passwordResetEmail required>
        </div>
        <br/>

        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button type="submit" mat-raised-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Resetuj Hasło</button>
        </div>
      </div>
      <br/>

      <div class="redirectToLogin">
        <span>Wróć do strony logowania: <span class="redirect" routerLink="/sign-in">Zaloguj</span></span>
      </div>

    </div>
  </mat-tab>
</mat-tab-group>
