
<div *ngIf="currentUser as user">

  <mat-card class="user-card">
    <mat-card-header>
      <img mat-card-avatar [src]="user.photoURL"  alt="image URL" />
      <mat-card-title><h1>Witaj: <strong>{{user.displayName}}</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Imie: <strong>{{user.firstName}}</strong></p>
      <p>Nazwisko: <strong>{{user.lastName}}</strong></p>
      <p>Email: <strong>{{user.email}}</strong></p>
      <p>Numer telefonu: <strong>{{user.phoneNumber}}</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="authService.SignOut()">Wyloguj</button>
      <button mat-stroked-button color="primary" style="float: right" (click)="openDialog()">Edytuj Profil</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="material-icons">monitoring</div>
      <mat-card-title><h1><strong>Statystyki</strong></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Hiragana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressHiragana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressHiragana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of hiraganaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Katakana</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKatakana.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKatakana.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of katakanaProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Rzeczowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNoun.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNoun.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of nounProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Czasowniki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressVerb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressVerb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of verbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-i"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressIAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressIAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of iAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przymiotniki "-na"</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressNaAdjective.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressNaAdjective.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of naAdjectiveProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Przysłówki</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressAdverb.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressAdverb.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of adverbProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Kanji</mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Poziom nauki: </strong>{{user.progressKanji.learningLevel}}</p>
        <p><strong>Poziom quizu: </strong>{{user.progressKanji.quizLevel}}</p>
        <br/>
        <p><strong>Id - Znak - Znaczenie - Poprawne/Udzielone: </strong></p>
        <p *ngFor="let property of kanjiProgressArray">
          {{property[0] + " - " + property[1] + " - " + property[2] + " - " + property[3] + "/" + property[4]}}
        </p>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

</div>

<!--<button mat-stroked-button color="primary" (click)="update()">Level Up Hiragana</button>-->
<!--<button mat-stroked-button color="primary" (click)="uploadKanji()">Upload Kanji to Firestore</button>-->
