<!--<div class="list row">-->
<!--  <div class="col-md-6">-->
<!--    <h4>Hiragana List</h4>-->
<!--    <ul class="list-group">-->
<!--      <li-->
<!--        class="list-group-item"-->
<!--        *ngFor="let hiragana of hiragana; let i = index"-->
<!--        [class.active]="i == currentIndex"-->
<!--        (click)="setActiveHiragana(hiragana, i)"-->
<!--      >-->
<!--        {{ hiragana.sign }}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <div *ngIf="currentHiragana">-->
<!--      <app-kana-details-->
<!--        (refreshList)="refreshList()"-->
<!--        [kana]="currentHiragana"-->
<!--      ></app-kana-details>-->
<!--    </div>-->

<!--    <div *ngIf="!currentHiragana">-->
<!--      <br />-->
<!--      <p>Please click on Hiragana...</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <button (click)="retrieveHiragana()">Wyświetl wszystkie</button>
  <button (click)="retrieveNineHiragana()">Pobierz 9</button>
</div>

<div class="card" *ngIf="hiragana">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="4px">
    <mat-grid-tile *ngFor="let hiragana of hiragana">
      <mat-card class="item">
        <app-flip-card>
          <flip-card-front>
            <p>{{ hiragana.sign}}</p>
          </flip-card-front>
          <flip-card-back>
            <p>{{ hiragana.reading}}</p>
          </flip-card-back>
        </app-flip-card>
        <input type="text" id="single" #zgaduje>
        <button type="submit" (click)="answering()">Sprawdź</button>
        <p *ngIf="hiragana.reading == zgaduje.value" >Poprawna odpowiedź</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div>

</div>
