<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Krzyś uczy Japońskie jezyka</span>
  <button mat-button [matMenuTriggerFor]="belowMenu">Logowanie</button>
  <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="after">
    <button mat-menu-item routerLink="sign-in">Sign-in</button>
    <button mat-menu-item routerLink="register-user">Register</button>
  </mat-menu>
  <button mat-button routerLink="kanban"> Kanban</button>
  <button mat-button routerLink="flipcard">Flip-card</button>
</mat-toolbar>
