<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span routerLink="/">Tanuki</span>
  <button mat-button [matMenuTriggerFor]="belowMenu">Logowanie</button>
  <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="after">
    <button mat-menu-item routerLink="sign-in">Logowanie</button>
    <button mat-menu-item routerLink="register-user">Rejestracja</button>
  </mat-menu>
<!--  <button mat-button routerLink="kanban"> Kanban</button>-->
<!--  <button mat-button routerLink="kana">Kana</button>-->
<!--  <button mat-button routerLink="katakana">Katakana</button>-->
<!--  <button mat-button routerLink="hiragana">Hiragana</button>-->
<!--  <button mat-button routerLink="add">Add</button>-->
  <button mat-button routerLink="select-learning-level">Nauka</button>
  <button mat-button routerLink="select-quiz-level">Quiz</button>
  <button mat-button routerLink="select-quiz-level">Materiały</button>
  <button mat-button routerLink="dashboard">Dashboard</button>
</mat-toolbar>
