<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Rejestracja">
    <mat-grid-list cols="3" rowHeight="3:3">
      <mat-grid-tile >
        <mat-card class="user-card">
          <mat-card-header>
            <h2> Poznajmy się :) </h2>
          </mat-card-header>
          <mat-card-content>
            <ng-form class="formGroup">
              <mat-form-field appearance="fill">
                <mat-label>Podaj swoje imię</mat-label>
                <input matInput type="text" class="formControl" placeholder="Imię"  #userFirstName required>
              </mat-form-field>
              <br/>
              <mat-form-field appearance="fill">
                <mat-label>Podaj swoje nazwisko</mat-label>
                <input matInput type="text" class="formControl" placeholder="Nazwisko"  #userLastName required>
              </mat-form-field>
              <br/>
              <mat-form-field appearance="fill">
                <mat-label>Podaj swój adres email</mat-label>
                <input matInput type="email" class="formControl" placeholder="pat@example.com" [formControl]="email" #userEmail required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field appearance="fill">
                <mat-label>Podaj swoje hasło</mat-label>
                <input matInput type="password" class="formControl" placeholder="Hasło"  #userPassword required>
              </mat-form-field>
            </ng-form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPassword.value)">Zarejestruj</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="user-card">
          <div class="redirectToLogin">
        <span>
          <h2>Masz już konto?</h2>
            <h2>Zaloguj się tutaj</h2></span>
            <br/>
            <button mat-raised-button color="accent" routerLink="/sign-in"> Logowanie </button>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="user-card">
          <mat-card-header>
            <h2> Zaloguj się z Google </h2>
          </mat-card-header>
          <mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="authService.GoogleAuth()">
                <mat-icon>mail</mat-icon>  Google
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
