mat-grid-list {
  padding: 2%;
  margin: 1%;

}
mat-grid-tile{
  border-style: ridge;
  border-radius: 15px;

}

.mat-grid-tile-content.doYouKnow {
  position: absolute;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

img{
  padding: 3%;
}
